/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alinhartexto {
  padding: 10px;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Header styles */
header {
  background-color: #009688;
  color: #ffffff;
  text-align: left;
  padding: 20px;
}

/* Navigation styles */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #00695c;
  padding: 10px;
}

/* main{
  padding: 20px;
} */
nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}


/* Section styles */
section {
  background-color: #cfffeb;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1px;
}

/* Heading styles */
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: #009688;
  background-color: rgb(141, 224, 189);
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #0d7066;
  margin-left: 5px;
}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #3e8e86;
  background-color: rgb(124, 255, 200);
}

/* Paragraph styles */
p {
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
  text-align:justify;
  color: #333333;
  margin-left: 10px;
  margin-right: 10px;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #00695c;
  color: #ffffff;
}

.animal-container {
  display: flex;
}

.animal {
  padding: 10px;
margin-left: 10px;
  /* Espaço entre as imagens */
}
div{
  color: #3e8e86;
}
