* {
    margin: 0;
    box-sizing: border-box;
  }
  .conteudo{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .paginacao{
    font-size:large;
    padding: 2rem;
    text-align:center;
  }

  .paginacao a{
    text-decoration:none;
    color: #bdb9b8;
  }

  .hidden {
    display: none;
  }

  body {
    font-family: arial, sans-serif;
  }

  header {
    background-color: #212121;
    color: #fff;
    padding: .5rem 1rem;
    text-align: center;
  }

  @keyframes loading-page {

    0%,
    80% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  main {
    margin-top: 2rem;
    animation: loading-page 2s;
  }

  .pokedex {
    padding: 1rem;
    display: grid;
    grid-gap: 3rem 2rem;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
  }

  .pokedex .warning {
    position: absolute;
    font-size: 2rem;
    padding: 1rem;
  }

  .pokedex-control {
    margin: 4rem 0 3rem;
    display: grid;
    grid-template-columns: 17rem;
    grid-gap: .5rem;
    justify-content: center;
  }

  @media (min-width: 840px) {
    .pokedex-control {
      grid-template-columns: repeat(3, 17rem);
    }
  }

  .pokedex-control .form-control {
    margin: 0 .5rem;
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: 3rem minmax(13rem, 15rem);
    grid-gap: .5rem;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 840px) {
    .pokedex-control .form-control {
      grid-template-columns: 1fr;
    }
  }

  @media (min-width: 980px) {
    .pokedex-control .form-control {
      grid-template-columns: 3rem minmax(13rem, 15rem);
    }
  }

  .pokedex-control .form-control label+* {
    outline: none;
    width: 100%;
    font-size: 1.1rem;
  }

  .pokedex-control #filter-name {
    border: none;
    border-bottom: 1px solid #c0c0c0;
    outline: none;
    transition: all .2s;
  }

  .pokedex-control #filter-name:focus {
    border-bottom: 1px solid #000;
  }

  @keyframes pokemon-up {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-.4rem);
    }
  }

  .pokemon {
    background-color: #f2f2f2;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: #DCDCDC 3px 3px;
    padding: 5px;
  }

  .pokemon:hover {
    animation: pokemon-up 0.3s;
    cursor: pointer;
  }

  .pokemon:focus {
    outline: none;
  }

  .pokemon .pokemon-figure {
    text-align: center;
    border-radius: 15px;
  }

  .pokemon .pokemon-figure img {
    position: relative;
    z-index: 1;
    transition: transform .3s;
    border-radius: 15px;
  }

  .pokemon:focus .pokemon-figure img {
    transform: scale(.6) translate(100px, -80px);
    border-radius: 100px;
  }

  .pokemon .pokemon-description {
    background-color: #fff;
    padding: .7rem;
    width: 100%;
    margin-bottom: .5rem;
    transition: transform .3s;
    border-radius: 10px;
  }
  .pokemon-stats{
    margin-bottom: .5rem;
  }
  .pokemon:focus .pokemon-description {
    transform: translateY(-160px);
  }

  .pokemon .pokemon-id {
    color: #919191;
  }

  .pokemon .pokemon-name {
    margin: 1rem 0 .6rem;
    font-size: 1.5rem;
    font-weight: normal;
  }

  .pokemon .pokemon-types {
    display: flex;
  }

  .pokemon .pokemon-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    margin-right: .5rem;
    padding: .3rem .3rem;
    font-size: .9rem;
    border-radius: 10px;
  }

  .pokemon .pokemon-stats {
    position: absolute;
    width: calc(100% - 2rem);
    margin: 0 1rem 1rem;
    padding: .5rem;
    font-size: .8rem;
    background-color: #fff;
    transform: translatey(300px);
    transition: all .3s;
    border-radius: 10px;
  }

  .pokemon:focus .pokemon-stats {
    transform: translatey(-180px);
  }

  .pokemon .pokemon-stats .stat-row {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: .5rem 0;
  }

  .pokemon .pokemon-stats .stat-bar {
    background-color: #f2f2f2;
  }

  .pokemon .pokemon-stats .stat-bar-bg {
    background-color: #212121;
    color: #fff;
    padding: 0 .2rem;
  }
.stat-bar, .stat-row{
  padding: 0px;
}

.container a{
  font-size: 14px;
  color: rgb(39, 39, 39);
}

.container p{
  font-size: 16px;
  font-weight: bold;
  color: rgb(39, 39, 39);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centro {
  background-color: #f2f2f2b2;
  text-align: center;
  border: 3px solid black;
  border-radius: 45px;
  margin-top: 90px;
  /* width: 40%; */
}

.centro p{
  font-size: 25px;
}

.imagem{
  background-image: url(../img/bg/plantae.png);
  height: 700px;
  opacity: 8.5;
}
